{% extends 'ecommerce.html' %}
{% from 'macro/modals.html' import modal1, modal, card_modal, regist_modal, login_modal %}
{% from 'macro/card.html' import card, slide_card %}
{% from 'macro/list.html' import keyword %}

{% block sub %}


<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>뜬구름</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-8"
          aria-controls="navbarSupportedContent-8" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-8">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/boo">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">sub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My page</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>


    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../static/img/night.png') ; background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-white-light">
          <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
              <div class="col-md-12 mb-3">      
              </div>
            </div>
          </div>
        </div>
      </div>

   
</header>

<main>


  <div class="container">
    {{ card_modal() }}
    {{ keyword() }}

    <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

      <!--Section heading-->
      <h1 class="font-weight-bold text-center h1 my-5"><i class="fab fa-mixcloud"></i>
        새롭게 뜬 구름<i class="fab fa-mixcloud"></i></h1>

      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive">안녕하세요. 뜬 구름입니다 :) </p>

      <div class="container mb-5" id='keywords'></div>
      
      <!--Grid row 카드 자리-->
      <div class="container mb-5" id='filters'></div>

      {{ card() }}
      
    </section>
  </div>

</main>


{% endblock sub %}