{% extends 'ecommerce.html' %}
{% from 'macro/modals.html' import modal1, modal, card_modal, regist_modal, login_modal %}
{% from 'macro/card.html' import card, slide_card %}


{% block main %}


<!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>뜬구름</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/boo/sub">sub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>


    {% if  (islogin)   %}
      <!-- Intro Section -->

      <!-- 로그인 후 화면 -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('static/img/whale.jpeg') ; background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-white-light">
          <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
              <div class="col-md-12 mb-3">
                <div class="intro-info-content text-center">
                  <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">   
                    <a class="indigo-text font-weight-bold">   </a>
                  </h1>
                  <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">   </h5>
                  <a class="btn btn-outline-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s" href="/boo/logout">로그아웃</a>
                  <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s" data-toggle="modal" data-target="#writeModal" >글쓰기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    {% else %}
      <!-- 로그인 전 화면 -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('static/img/whale.jpeg') ; background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-white-light">
          <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
              <div class="col-md-12 mb-3">
                <div class="intro-info-content text-center">
                  <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">   
                    <a class="indigo-text font-weight-bold">   </a>
                  </h1>
                  <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">   </h5>
                  <a class="btn btn-outline-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s" data-toggle='modal' data-target='#loginModal'>로그인 / 회원가입 </a>
                  <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s"  onclick ='alert("로그인을 해주세요!")'>글쓰기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endif %}
 
    

  </header>
  <!--Main Navigation-->
    

<!-- 카드 상세 모달 -->
{{ modal('writeModal', user) }}

{{ login_modal('loginModal') }}


{{ card_modal() }}




  <!--Main Layout-->
  <main>

    <div class="mb-10 mt-4">

    <div class="container">

      <!--Section: Products v.5-->
      <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

        <!--Section heading-->
        <h1 class="font-weight-bold text-center h1 my-5">오늘의 뜬 구름 랭킹</h1>
        <!--Section description-->
        <p class="text-center grey-text mb-5 mx-auto w-responsive">가장 반응이 좋은 뜬 구름을 만나보세요.</p>

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating primary-color" href="#multi-item-example" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a class="btn-floating primary-color" href="#multi-item-example" data-slide="next">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
          <!--Controls-->

          <!--Indicators-->
          <ol class="carousel-indicators">
            <li class="primary-color" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
            <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
          </ol>
          <!--Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active my-3" id='slide_card1' ></div>
            
            <!--Second slide-->
            <div class="carousel-item my-3" id='slide_card2'>
            </div>
            
            <!--Third slide-->
            <div class="carousel-item my-3"  id='slide_card3'>
            </div>

          </div>
          <!--Slides-->

        </div>
        <!--Carousel Wrapper-->

        {{ slide_card() }}


      </section>
      <!--Section: Products v.5-->
    
    </div>

    
    <hr class="my-10">


    <div class="container">
      

      <!--Section: Products v.3-->
      <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

        <!--Section heading-->
        <h1 class="font-weight-bold text-center h1 my-5"><i class="fab fa-mixcloud"></i>
        
         새롭게 뜬 구름<i class="fab fa-mixcloud"></i></h1>
        <!--Section description-->
        <p class="text-center grey-text mb-5 mx-auto w-responsive">오늘의 뜬 구름은 어떤 게 있을까요? 뜬구름러들이 올려주신 뜬 구름들을 확인해보세요 ! <br> 당신의 이상을 마음껏 펼치는 공간, 뜬 구름입니다 :) </p>


        <!--Grid row 카드 자리-->
        {{ card() }}
        <!--Grid row 카드 자리-->

      </section>
      <!--Section: Products v.3-->

      <hr class="mb-5 mt-4">


    </div>

    <!-- Streak Section -->
    <div class="streak streak-photo" style="background-image: url('static/img/sky.jpg')">

      <div class="flex-center white-text pattern-1" style="background-attachment: f">
        <ul class="list-unstyled">
          <li>
            <h1 class=" white-text">
              <strong>500+</strong> 뜬 구름 </h1>
          </li>

        </ul>
      </div>

    </div>
    <!-- /.Streak Section -->

    <div class="container">

      <!--Projects section v.4-->
      <section class="text-center pb-5 wow fadeIn">

        <!--Section heading-->
        <h2 class="font-weight-bold text-center h1 my-5">뜬 구름 소식</h2>
        <!--Section description-->
        <p class="text-center grey-text mb-5 mx-auto w-responsive">뜬 구름의 최신 소식을 만나보세요.</p>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/slide%20(31).jpg');">
              <div class="text-center d-flex align-items-center rgba-white-strong py-5 px-4">
                <div>
                  <a href="" class="purple-text">
                    <h5>
                      <i class="fas fa-plane pr-2"></i>뜬 구름을 잡다</h5>
                  </a>
                  <h3 class="mb-4 mt-4">
                    <strong> 뜬 구름 잡는 소리하지마 ? </strong>
                  </h3>
                  <p>모두가 뜬 구름 잡는 소리 하지말라며 말리던 꿈. 뜬 구름에 올리고 화제가 되어 여러 곳에서 후원을 받게 되었습니다. 본인의 꿈을 당당히 이룬 세계 최고의 아이디어 뱅크 heedeandean님을 소개합니다.  <br> </p>
                  <a class="btn btn-secondary btn-sm">
                    <i class="fas fa-clone left"></i> 소식 확인하기</a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(60).jpg');">
              <div class="text-center d-flex align-items-center rgba-white-strong py-5 px-4">
                <div>
                  <a href="" class="pink-text">
                    <h5>
                      <i class="far fa-paper-plane mr-2"></i>후원</h5>
                  </a>
                  <h4 class="mb-4 mt-4">
                    <strong>이 뜬 구름은 실현되는 걸 꼭 보고 싶다!</strong>
                  </h4>
                  <p>라고 생각하셨나요? 후원하고 싶은 뜬 구름이 있다면 저희에게 말해주세요. 저희 뜬 구름은 정말 이루고 싶은 꿈들을 후원하고 있습니다. 물론 당신의 꿈도 실현될 수 있습니다. </p>
                  <a class="btn btn-pink btn-sm">
                    <i class="fas fa-clone left"></i> 후원하기 </a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4 h-20">
            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(58).jpg');">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <a href="" class="green-text">
                    <h5>
                      <i class="fas fa-cloud mr-2"></i> BOO_OON</h5>
                  </a>
                  <h3 class="mb-4 mt-4">
                    <strong>뜬 구름 프로젝트</strong>
                  </h3>
                  <p>뜬 구름 프로젝트에 대해 더 알고 싶다면 언제든지 물어보세요.
                  <br>
                  읽어주셔서 고맙습니다.
                  <br>
                  <br>
                  </p>
                  <a class="btn btn-success btn-sm">
                    <i class="fas fa-clone left"></i>문의하기</a>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Projects section v.4-->

    </div>

  </main>
  <!--Main Layout-->

  <!--Footer-->
  <footer class="page-footer pt-4 mt-4 text-center text-md-left mdb-color lighten-2">

    <!--Footer Links-->
    <div class="container">
      <div class="row">

        <!--First column-->
        <div class="col-md-5 mr-auto">
          <h5 class="text-uppercase mb-3"><i class="fas fa-cloud text-white"></i> 뜬 구름 프로젝트 <i class="fas fa-cloud text-white"></i></h5>
          <p>'뜬 구름 잡는 소리 하지 마라'라는 말처럼 말도 안 되고 실현가능성도 없지만 누구나 각자의 꿈과 이상들이 있을 것입니다. 그런 꿈들을 구름처럼 떠나보내지 말고 직접 적어보고 공유해보는 SNS입니다. </p>
        </div>
        <!--/.First column-->

        <hr class="w-100 clearfix d-md-none">

      

        <!--Third column-->
        <div class="col-md-2 ml-auto">
          <h5 class="text-uppercase mb-3">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!--/.Third column-->

        <hr class="w-100 clearfix d-md-none">

        <!--Fourth column-->
        <div class="col-md-3 ml-auto">
          <h5 class="text-uppercase mb-3">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
      <ul class="list-unstyled list-inline">
        <!--github-->
        <li class="list-inline-item" >
          <a class="btn-floating btn-fb" href='https://github.com/eeuoo/Boo_oon' target="_blank">
            <i class="fab fa-github"> </i>
          </a>
        </li>
        <!--gmail-->
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <!--gmail-->
        <li class="list-inline-item">
          <a class="btn-floating btn-li" href='https://trello.com/b/F2Mvrx73/%EB%9C%AC-%EA%B5%AC%EB%A6%84' target='_blank'>
            <i class="fab fa-trello"> </i>
          </a>
        </li>
        <!--slack-->
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble">
            <i class="fab fa-slack"> </i>
          </a>
        </li>

      </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        &copy; 2019 Copyright : 뜬 구름 프로젝트 
      </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

{% endblock main %}