{% extends 'ecommerce.html' %}
{% from 'macro/modals.html' import modal1, modal, card_modal, regist_modal, login_modal %}
{% from 'macro/card.html' import card, slide_card %}
{% from 'macro/list.html' import panel_picker, follow %}

{% block my %}
<!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar aqua-gradient">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>뜬구름</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/boo">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/boo/sub">sub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boo/mypage/{{name}}">My page</a>     
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>

    

    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../static/img/my.png') ; background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-indigo-slight">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row pt-5 mt-3">
            <div class="col-md-12 mb-3">
              <div class="intro-info-content text-center">
                <h1 class="display-3 blue-text mb-5 wow fadeInDown" data-wow-delay="0.3s">ABOUT
                  <a class="blue-text font-weight-bold">{{name}}</a>
                </h1>
                {% if name == user %}
                <a class="btn btn-outline-info btn-lg wow fadeInDown" data-wow-delay="0.3s" href="/boo/logout">로그아웃</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

<!--Main Layout-->
  <main>

    <div class="container">

      <!--Section: Team v.1-->
      <section class="text-center team-section">

        <!--Grid row-->
        <div class="row text-center">

          <!--Grid column-->
          <div class="col-md-12 mb-4" style="margin-top: -100px;">

            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="img-fluid rounded-circle z-depth-1"
                alt="First sample avatar image">
            </div>
            <h3 class="my-3 font-weight-bold" id='hostname'>
              <strong>{{name}}</strong>
            </h3>
            <h6 class="font-weight-bold teal-text mb-4">{{email}}</h6>

            {% if (user != name)%}
               <!--Follow-->
              {% if (isfollow) %}
                <button class="btn m-2 btn-info btn-rounded px-7" onclick='Follow("{{user}}")'>
                  <i class="fas fa-user-check white-text mr-2"> </i>
                  <span>팔로잉</span>
                </button>
              {% else %}
                <button class="btn m-2 btn-outline-info btn-rounded px-7" onclick='Follow("{{user}}")' id='followButton'>
                  <i class="fas fa-user mr-2" id='followIcon'> </i>
                  <span>팔로우</span>
                </button>
              {% endif %}

            <!--Direct Message-->
            <button class="btn btn-info btn-rounded px-7">
              <i class="far fa-comments white-text mr-2"> </i> DM
            </button>
            {% else %}
            <button class="btn btn-blue-grey btn-rounded px-7">
              <i class="fas fa-cloud-meatball mr-2"> </i> 회원정보 수정
            </button>

            {% endif %}
            

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Team v.1-->
    

      <!--Section: Tabs-->
      <section>

        {{ panel_picker() }}

      
        <!-- Tab panels -->
        <div class="tab-content">

          <!--뜬 구름-->
          <div class="tab-pane fade  show active" id="panel10" role="tabpanel">
            <br>

            <!--Grid row-->
             {{ card() }}
             {{ card_modal() }}

          </div>
          <!--/.Panel 1-->

          <!--좋아요 누른 글-->
          <div class="tab-pane fade" id="panel11" role="tabpanel">
            <br>
          </div>
          <!--/.Panel 2-->

          <!--뱃지-->
          <div class="tab-pane fade" id="panel12" role="tabpanel">
            <br>
          </div>
          <!--/.Panel 2-->

          <!--팔로워-->
          <div class="tab-pane fade" id="panel13" role="tabpanel">
            <br>

            {{ follow(followerlist) }}

          </div>
          <!--/.Panel 3-->

          <!--팔로우-->
          <div class="tab-pane fade" id="panel14" role="tabpanel">
            <br>

             {{ follow(followlist) }}

          </div>
          <!--/.Panel 4-->

        </div>

      </section>
      <!--Section: Tabs-->

    </div>

  </main>
  <!--Main Layout-->

{% endblock my %}