{% macro keyword() -%}

<script id="keyword_modal" type="text/x-handlebars-template">
{% raw %}
    
     <div class="row">
        <div class='col-lg-1'>
        <h5>나이</h5>
        </div>
        <div class='col-lg-10' id='birthdate'>
            {{#list age}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>성별</h5>
        </div>
        <div class='col-lg-10' id='gender'>
            {{#list gender}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>지역</h5>
        </div>
        <div class='col-lg-10' id='city'>
            {{#list city}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>직업</h5>
        </div>
        <div class='col-lg-10' id='job'>
            {{#list job}}{{/list }}
        </div>
    </div>
   
{% endraw %}
</script>
{%- endmacro %}




{% macro panel_picker() -%}

<div id='pp'></div>


<script id="panel_picker" type="text/x-handlebars-template">
{% raw %}
    <ul class="nav md-pills pills-default d-flex justify-content-center">
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel10" role="tab">
            <strong>뜬 구름 {{listCnt}}개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel11" role="tab">
            <strong>좋아요 {{userlikeCnt}}0개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">
            <strong>뱃지 {{badgeCnt}}0개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">
            <strong>팔로워 <span id='follower_cnt'>{{follower_cnt}}</span>명</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel14" role="tab">
            <strong>팔로우 <span>{{follow_cnt}}명</strong>
        </a>
        </li>
    </ul>       
{% endraw %}
</script>  

{%- endmacro %}


{% macro follow(type) -%}

    <div class="list-group-flush" id='{{type}}_list'></div>

    <script id="{{type}}_list_script" type="text/x-handlebars-template">
        {% raw %}
        {{#if list}}
        {{#each list}}
        <div class="list-group-item" id='{{userno}}'>
            <div class="mdb-feed mt-1">   
                <div class="news" id="cmt" >
                    <div class="label">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle">
                    </div>

                    <div class="excerpt">
                        <div class="brief">
                            <a class="text-md name"><strong>{{username}}</strong></a> 
                        </div>
                        
                        <div class="feed-footer">
                            <p class="text-sm grey-text">{{email}}</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        {{/each }}
        {{/if }}
        {% endraw %}
    </script>

{%- endmacro %}