{% macro keyword() -%}

<script id="keyword_modal" type="text/x-handlebars-template">
{% raw %}
    
     <div class="row">
        <div class='col-lg-1'>
        <h5>나이</h5>
        </div>
        <div class='col-lg-10'>
            {{#list age}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>성별</h5>
        </div>
        <div class='col-lg-10'>
            {{#list gender}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>지역</h5>
        </div>
        <div class='col-lg-10'>
            {{#list city}}{{/list }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class='col-lg-1'>
        <h5>직업</h5>
        </div>
        <div class='col-lg-10'>
            {{#list job}}{{/list }}
        </div>
    </div>
   
{% endraw %}
</script>
{%- endmacro %}




{% macro panel_picker() -%}

<div id='pp'></div>


<script id="panel_picker" type="text/x-handlebars-template">
{% raw %}
    <ul class="nav md-pills pills-default d-flex justify-content-center">
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel11" role="tab">
            <strong>뜬 구름 {{listCnt}}개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">
            <strong>좋아요 {{userlikeCnt}}개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">
            <strong>뱃지 {{badgeCnt}}개</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">
            <strong>팔로워 {{follower_cnt}}명</strong>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">
            <strong>팔로우 {{follow_cnt}}명</strong>
        </a>
        </li>
    </ul>       
{% endraw %}
</script>  

{%- endmacro %}