
{% macro modal(id, user) -%}
<!--Modal: 글쓰기 -->
<div class="modal fade" id= "{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <form action="/boo/write" method="POST" id='writeForm'>

    <div class="modal-dialog cascading-modal modal-avatar" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->

        <div class="modal-header">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
        </div>
        <!--Body-->
        <div class="modal-body mb-1">

          <h5 class="text-center mt-1 mb-2" name="username" id="writeModalUser">{{user}}</h5>

          <div class="md-form mb-5">
              <i class="fas fa-tag prefix grey-text"></i>
              <input type="text" id="form32" class="form-control validate" name="list_title">
              <label data-error="wrong" data-success="right" for="form32">나의 뜬 구름은 ?</label>
          </div>

          <div class="md-form">
              <i class="fas fa-pencil prefix grey-text"></i>
              <textarea type="text" id="form8" class="md-textarea form-control" rows="4" name="list_txt"></textarea>
              <label data-error="wrong" data-success="right" for="form8">상세 내용</label>
          </div>
        </div>
        
        <div class="custom-control custom-checkbox" style="margin: auto; margin-bottom: 10px;">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" name='public' value='0'>
          <label class="custom-control-label" for="defaultChecked2">비공개 여부</label>
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info" type="submit">등록하기<i class="fas fa-sign-in ml-1"></i></button>
        </div>

        <div class="d-flex justify-content-right">
          <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">닫기</button>
        </div>

      </div>
      <!--/.Content-->
    </div>
  </form>  
</div>
<!--/ Modal: 글쓰기 -->
{%- endmacro %}


{% macro card_modal() -%}
<!-- Modal: 카드 상세 모달 -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog " role="document">
    <div class="modal-content rounded">
      
      <div class="modal-body">
        <div class="" id="cm"></div>
      </div>
    </div>
  </div>
</div>

<script id="card_modal" type="text/x-handlebars-template">
  {% raw %}
  <div class="col-lg-12">
      
    <div class="label mt-2">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" class="rounded-circle" onclick="location.href='/boo/mypage/{{writer_name}}'"> <span class='ml-2'>{{writer_name}}</span>
      {{{isWriter2 writer_name list_id}}}
    </div>
    
    <br>


    <div class="text-right grey-text mr-1 font-weight-lighter" style='font-size:13px'>{{formatDate list_date}}</div>
    <div class="text-center text-break h-50 rounded-lg py-3 px-4 light-blue lighten-5">
      <h4>{{list_title}}</h4>
    </div>

    <br>

    <div id="listTxt{{list_id}}" class="mb-3 text-muted text-break px-2">
      <h6 class="">{{list_txt}}</h6>
    </div>
    

    <br>
    
    <a class="text-muted">댓글</a><span id='cmtModalCnt{{list_id}}'>{{cmt_count}}</span> {{!-- 댓글수 --}}

    <span class="float-right" >

      <span> 
        <span id="hateCntModal{{list_id}}">{{hatecnt}}</span> {{!-- 싫어요 --}}
        <a class="icons-sm"> 
        <i class="fas fa-heart-broken ml-1 mr-1" id='hateModal{{list_id}}'
        onclick="m_like_hate('hate', 'like', {{list_id}}, 'text-primary', 'text-info')"></i> 
        </a>
      </span>

      <span id='likeCntModal{{list_id}}'> {{likecnt}} </span> {{!-- 좋아요 --}}
      <a class="icons-sm" > 
      <i class="fas fa-heart" id='likeModal{{list_id}}' 
      onclick="m_like_hate('like','hate',{{list_id}}, 'text-info','text-primary')"></i>
      </a>
    </span>

    <hr>

    <section class="my-5">
      
      <div class="row">  
        <div class="col-md-12">  
          <div class="mdb-feed" id='comments{{list_id}}'></div> {{!-- mdb-feed --}}

            
          <button class="float-right mb-1 mr-2 btn-sm btn-outline-info" id='cmtAdd{{list_id}}' style="display: none;" onclick='addCmt({{list_id}}), controlCmt({{list_id}})'> 완료 </button>
          <button class="float-right mb-1 mr-1 btn-sm btn-outline-info" id='cancel{{list_id}}' style="display: none;" onclick='controlCmt({{list_id}})'> 취소 </button>
          <button class="float-right mb-1 btn-sm btn-outline-info" id='cmt{{list_id}}' onclick='controlCmt({{list_id}})'> 댓글 작성 </button>
          
            
          <div class="form-group green-border-focus col-11 float-right" id="commentArea1{{list_id}}" style="display: none;">
            
            <textarea class="form-control" id="commentArea2{{list_id}}" rows="3" placeholder="Write your comment..."></textarea>
            
          </div>   

        </div> 
      </div> 
      
    </section>
 
  </div>
  {% endraw %} 
</script>


<!-- 댓글 -->
<script id="comment_template" type="text/x-handlebars-template">
{% raw %}

    {{#if cmts}}
    {{#each cmts}}
      <div class="news" id="cmt{{cmt_id}}" >
        <div class="label">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle">
        </div>

        <div class="excerpt">
        
            <div class="brief">
                <a class="name">{{writer_name}}</a> 
                <div class="date float-right">{{formatDate cmt_date}}</div>
            </div>

            <div class="added-text"> {{{cmt_txt}}}</div>
            
            <div class="feed-footer">
                <a class="like mr-1" onclick="cmt_like_hate({{list_id}}, {{cmt_id}}, 'add')">
                <i class="fas fa-heart" ></i>
                <span>{{cmt_like}} 좋아요
                </a>

                <a class="like" onclick="cmt_like_hate({{list_id}}, {{cmt_id}}, 'del')">
                <i class="fas fa-heart-broken" ></i>
                <span>{{cmt_hate}} 싫어요</span>
                </a>

                {{{isWriter writer_name cmt_id list_id}}}
               
            </div>
        </div>
      </div>  
    {{/each }}
    {{/if}}
    
{% endraw %}   
</script>

{%- endmacro %}



{% macro login_modal(id) -%}
<!--Modal: Login / Register Form-->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item" >
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel89" role="tab" ><i class="fas fa-user-plus mr-1"></i>
              회원가입</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
            <form action="/boo/login" method="POST" id='loginForm'>
              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endfor %}

              <!--Body-->

              <!--로그인 아이디(modalLRInput10)-->
              <div class="modal-body mb-1">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user-alt prefix"></i>
                  <input type="text" id="modalLRInput10" class="form-control form-control-sm validate" name='username'>
                  <label data-error="wrong" data-success="right" for="modalLRInput10">아이디</label>
                </div>

                <!--로그인 비번(modalLRInput11)-->
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput11" class="form-control form-control-sm validate" name="pw">
                  <label data-error="wrong" data-success="right" for="modalLRInput11">비밀번호</label>
                </div>

                <div class="text-center mt-2">
                  <button class="btn btn-info" type="submit" >로그인 <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p><a href="#" class="blue-text"><small>아이디 / 비밀번호 찾기</small></a></p>
                  <!--<p><a href="#" class="blue-text"><small>회원가입</small></a></p>-->
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">닫기</button>
              </div>
            </form>
          </div>
          <!--/.Panel 7-->

          <!--Panel 89-->
          <div class="tab-pane show" id="panel89" role="tabpanel">
            <form action="/boo/regist" method="POST" id='registForm'>
              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endfor %}
              <div class="tab-content">
                <!--Panel 8-->
                <div class="tab-pane fade in show active" id="panel8" role="tabpanel">
                  <div class="modal-body">

                    <!--가입 아이디(modalLRInput12)-->
                    <div class="md-form form-sm mb-5">
                      <i class="fas fa-user-alt prefix"></i>
                      <input type="text" id="modalLRInput12" class="form-control form-control-sm validate" name = 'username' required>
                      <label class = "text-nowrap" data-error="already exist" data-success="right" for="modalLRInput12">아이디</label>
                    </div>
                
                    <!--가입 비밀번호(modalLRInput13)-->
                    <div class="md-form form-sm mb-5">
                      <i class="fas fa-lock prefix"></i>
                      <input type="password" id="modalLRInput13" class="form-control form-control-sm validate" name='pw' required>
                      <label data-error="wrong" data-success="right" for="modalLRInput13" id='modalPW1'>비밀번호</label>
                    </div>

                    <!--가입 비밀번호 확인(modalLRInput14)-->
                    <div class="md-form form-sm mb-4">
                      <i class="fas fa-lock prefix"></i>
                      <input type="password" id="modalLRInput14" class="form-control form-control-sm validate" name='pw2' oninput="ss()" onblur="ss()" required>
                      <label id='modalPW2' data-error="불일치" data-success="일치" for="modalLRInput14">비밀번호 확인</label>
                    </div>
                
                    <!--이메일(modalLRInput15)-->
                    <div class="md-form form-sm mb-5">
                      <i class="fas fa-envelope prefix"></i>
                      <input type="email" id="modalLRInput15" class="form-control form-control-sm validate" name='email' required>
                      <label class = "text-nowrap" data-error="already exist" data-success="right" for="modalLRInput15">이메일</label>
                    </div>  
              
                    <!--Controls-->
                    <div class="controls-top text-center">
                        <a class="btn-floating primary-color nav-link" onclick="controlRegist('panel8','panel9')">
                          <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--Controls-->
                  </div>
                </div>  
                <!--/.Panel 8-->
                
                <!--Panel 9-->
                <div class="tab-pane hide" id="panel9" role="tabpanel">    
                  <div class="modal-body">
            
                    <!--생년월일-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      
                        <label class="input-group-text" for="inputGroupSelect01">생년월일</label>
                      </div>
                      <!--년도(years)-->
                      <select id="years" class="browser-default custom-select" id="inputGroupSelect01" name='birthyear' required>  
                        <option value="년도">년도</option>
                      </select>
                      <!--월(months)-->
                      <select id="months" class="browser-default custom-select" id="inputGroupSelect01" name='birthmonth' required>  
                        <option value="월">월</option>
                      </select>
                      <!--일(days)-->
                      <select id="days" class="browser-default custom-select" id="inputGroupSelect01" name='birthday' required> 
                        <option value="일">일</option>
                      </select>
                    </div>
                    
                    <!--성별-->
                    <div class="input-group mb-3">

                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">성별</label>
                      </div>
                      
                      <!-- radio -->
                      <div id='genderRadio' style="margin-left: 10px; margin-top: 5px">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" id="defaultInline1" name="gender" value="1">
                          <label class="custom-control-label" for="defaultInline1">여자</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" id="defaultInline2" name="gender" value="2">
                          <label class="custom-control-label" for="defaultInline2">남자</label>
                        </div>
                      </div>  
                    </div>

                    <!--거주지-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      
                        <label class="input-group-text" for="inputGroupSelect01">거주지</label>
                      </div>
                       <!--지역(sidogun)-->
                      <select id="sidogun" class="browser-default custom-select" id="inputGroupSelect01" name='sidogun' required>
                        <option value="지역">지역</option> 
                      </select>
                       <!--세부 도시(city)-->
                      <select id="city" class="browser-default custom-select" id="inputGroupSelect01" name='city' required>
                        <option value="도시">도시</option>  
                      </select>
                    </div>
                    
                    <!--직업-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      
                        <label class="input-group-text" for="inputGroupSelect01">직업</label>
                      </div>
                      <select id="job" class="browser-default custom-select" id="inputGroupSelect01" name='job'> 
                        <option value="직업">직업</option>  
                      </select>
                    </div>   
                        

                    <!--Controls-->
                    <div class="controls-top text-center">
                        <a class="btn-floating primary-color nav-link" onclick="controlRegist('panel9','panel8')">
                          <i class="fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--Controls-->

                    <div class="text-center form-sm mt-2">
                      <button id='registSubmit' class="btn btn-info" type="submit" > 가입 확인 <i class="fas fa-sign-in ml-1"></i></button>
                    </div>
                  </div>
                </div>
                <!--/.Panel 9-->
                
                <!--Footer-->
                <div class="modal-footer">
                <div class="options text-right">
                  <p class="pt-1"><a href="#">로그인</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">닫기</button>
                </div>  
              </div>
            </form>
          </div>
          <!--/.Panel 89-->

        </div>
          
      </div>

    </div>
    <!--/.Content-->
  
  </div>
</div>
<!--Modal: Login / Register Form-->
{%- endmacro %}



{% macro edit_modal() -%}
<!-- Modal: 수정 모달 -->
<div class="modal fade" id='em' tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true"> 
</div>
<!--/ Modal: 글쓰기 -->

<script id="edit_modal" type="text/x-handlebars-template">
  {% raw %}
  <form action="/boo/write" method="POST" id='editForm'>

    <div class="modal-dialog cascading-modal modal-avatar" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->

        <div class="modal-header">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
        </div>
        <!--Body-->
        <div class="modal-body mb-1">

          <input id='editId' style='display:none' name='editId'></input>
          <h5 class="text-center mt-1 mb-2" name="username" id="writeModalUser">{{writer_name}}</h5>

          <div class="md-form mb-5">
              <i class="fas fa-tag prefix grey-text" ></i>
              <input type="text"  id="editTitle" class="form-control validate" name="list_title">
              <label id='editTitleLabel' data-error="wrong" data-success="right" for="editTitle">나의 뜬 구름은 ?</label>
          </div>

          <div class="md-form" >
              <i class="fas fa-pencil prefix grey-text" ></i>
              <textarea type="text" id="editTxt" class="md-textarea form-control" rows="4" name="list_txt"></textarea>
              <label id='editTxtLabel' data-error="wrong" data-success="right" for="editTxt">상세 내용</label>
          </div>
        </div>
        
        <div class="custom-control custom-checkbox" style="margin: auto; margin-bottom: 10px;">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" name='public' value='0'>
          <label class="custom-control-label" for="defaultChecked2">비공개 여부</label>
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info" type='submit'>수정완료<i class="fas fa-sign-in ml-1"></i></button>
        </div>

        <div class="d-flex justify-content-right">
          <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal" onclick='card_modal({{list_id}})'>닫기</button>
        </div>

      </div>
      <!--/.Content-->
    </div>
  </form> 
  {% endraw %} 
</script>

{%- endmacro %}


{% macro chat() -%}

  <div class="modal fade right show" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalPreviewLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Grid row -->
          <div class="row px-lg-2 px-2">

            <!-- Grid column -->
            <div class="col-md-6 col-xl-4 px-0">

              <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6>

              <div class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue scrollspy-example" data-spy="scroll" data-offset="0" style='height:37em;'>
                <ul class="list-unstyled friend-list">
                  <li class="active grey lighten-3 p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>John Doe</strong>
                        <p class="last-message text-muted">Hello, Are you there?</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Just now</p>
                        <span class="badge badge-danger float-right">1</span>
                      </div>
                    </a>
                  </li>
                 
                  <li class="p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>Alex Steward</strong>
                        <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Yesterday</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                  <li class="p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>Ashley Olsen</strong>
                        <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Yesterday</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                  <li class="p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="avatar" class="avatar-sm rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>Kate Moss</strong>
                        <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Yesterday</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                  
                </ul>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

              <div style='height:35em;'>
                <div class="scrollbar-light-blue scrollspy-example" data-spy="scroll" data-offset="0" style='height:30em;'>
                <ul class="list-unstyled scrollbar-light-blue">
                  <li class="d-flex justify-content-between mb-4">
                    <div class="white p-3 ml-2 z-depth-1">
                      <div class="header">
                        <strong class="primary-font">Brad Pitt</strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                      </div>
                      <hr class="w-100">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                      </p>
                    </div>
                  </li>
                  <li class="d-flex justify-content-between mb-4">
                    <div class="white p-3 ml-2 z-depth-1">
                      <div class="header">
                        <strong class="primary-font">Brad Pitt</strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                      </div>
                      <hr class="w-100">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                      </p>
                    </div>
                  </li>
                  <li class="d-flex justify-content-between mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4">
                <div class="chat-body white p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Lara Croft</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                  </p>
                </div>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
              </li>
              <li class="d-flex justify-content-between mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
                </ul>
                </div>

                
                <div class="white">
                  <div class="form-group basic-textarea">
                    <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">Send</button>

              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>

      </div>
    </div>
  </div>

 
{%- endmacro %}